
/*Section Classes*/

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.section-heading{
    /* margin-top: 2rem; */
    color:  var(--clr-light);;
    font-size: var(--size-5xl);
}
/* Work Experience */

.timeline {
    position: relative;
    width: 75%;
}

.timeline-box {
    padding: 5px;
    width: 40%;
    min-height: 150px;
    position: relative;
    left: 5%;
    text-align: right;
}

.timeline-box::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: lightgrey;
    top: 18%;
    border-radius: 50%;
    z-index: 1;
}

.timeline-box:nth-child(2n) {
    left: 53%;
}

.timeline-box:nth-child(2n+1)::after {
    right: -14.5%;
}

.timeline-box:nth-child(2n)::after {
    left: -9%;
}

.timeline-container {
    padding: 8px;
}

.timeline-logo {
    position: absolute;
    width: 50px;
    height: 50px;
    overflow: hidden;
    /* border: 1px solid red; */
    border-radius: 5px;
}

.timeline-logo > img {
    width: 100%;
    height: 100%;
}

#timeline-divider {
    position: absolute;
    width: 0;
    top: 11%;
    left: 50%;
    border: 1px dashed #0096fa6b;
    height: 56%;
    color: #433E3F;
}

#timeline-divider .timeline-traveller {
    position: sticky;
    top: 165px;
    z-index: 2;
}

.plane{
    border: 1px solid yellow;
    width: 40px;
    height: 40px;
}

#timeline-divider i {
    transform: rotate(90deg);
    margin-top: -35px;
    display: block;
    color: #2857a4;
}

.experience-designation {
    font-size: 1.4rem;
}

.experience-company-name {
    margin: 5px 0 0;
    color:var(--clr-slate400);
    font-weight: 400;
    font-size: 1.2rem;
}

.experience-duration {
    color: #9e9b9b;
    font-weight: 100;
    color: var(--clr-light);
    font-size: 1rem;
}

.experience-description {
    font-size: var(--size-xl);
    padding: 2px;
    color: var(--clr-slate600);
    line-height: 20px;
    text-align: left;
}







/* Common Text Align Classes */

.text-right{
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

/* Common Margin Classes */

.m0 {
    margin: 0;
}

.mb75px {
    margin-bottom: 75px;
}

.mb50px {
    margin-bottom: 50px;
}



/*common color classes */

.text-highlight {
    color: #2857a4;
    font-weight: 600;

}




@media only screen and (max-width: 572px) {


    .section-heading{
        font-size: var(--size-3xl);
    } 
    .experience-description {
        font-size: var(--size-base);
    }
    .timeline-box {
        width: 100%;
        left: 10% !important;
    }

    .bars {
        display: block;
    }
    
    
    .nav-menu {
        display: none;
    } 

}





@media only screen and (max-width: 768px) {


    .timeline-box {
        width: 90%;
        left: 10% !important;
    }

    .timeline-box::after {
        left: -9.3% !important;
    }

    #timeline-divider {
        top: 11%;
        left: 3.1%;
    }

    #contact-form {
        margin-left: 0%;
    }

    #contact-container {
        flex-wrap: wrap;
    }

    #my-details-container {
        width: 80%;
        margin: 10%;
    }

    #contact-form-container {
        width: 80%;
        margin: 10%;
    }

}

@media (max-width:475px){
    #timeline-divider {
        top: 11%;
        left: 4%;
        height: 58%;
    }
    .section-heading{
        font-size: var(--size-2xl);
    } 
    .experience-description {
        font-size: var(--size-sm);
    }
    strong{
        font-size: var(--size-lg);
    }

    .experience-company-name{
        font-size: var(--size-base);
    }
    .experience-duration{
        font-size: var(--size-base);

    }
}

@media (max-width:475px){
    #timeline-divider {
        height: 56%;
    }
}

